[Unit]
Description= Demoing fastapi backend app
After=network.target

[Service]
User=rey
Group=rey
WorkingDirectory=/home/rey/fastapi/src/
Environment="PATH=/home/rey/fastapi/venv/bin"
ExecStart=/home/rey/fastapi/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target